asgiref==3.7.2
async-timeout==4.0.3
certifi==2024.2.2
channels==4.0.0
channels-redis==4.2.0
charset-normalizer==3.3.2
decorator==4.4.2
Django==5.0.3
django-cors-headers==4.3.1
djangorestframework==3.14.0
ffmpeg-python==0.2.0
future==1.0.0
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
moviepy==1.0.3
msgpack==1.0.7
numpy==1.26.4
pillow==10.2.0
proglog==0.1.10
PyPDF2==3.0.1
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
sqlparse==0.4.4
tqdm==4.66.2
typing_extensions==4.9.0
urllib3==2.2.1
